<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <h1>Selamat Datang</h1>
     
    {% include "menu.html" %}
    

   {% if True %}
   <h1>IF bernilai TRUE,maka Aku Ada</h1>
   {% endif %}

   {{ nama }}

   {{nama | lower}}

   {% for fruit in buah %}
   <li>{{ fruit }}</li>
   {% endfor %}
</body>
</html>